.product-image{
  height: 70px;
  width: auto;
  object-fit: cover;
}

.product-name{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-table{
  padding: 10px;
  margin: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
