<div class="shadow">
  <div class="card-header bg-black mb-2">
    <h4 class="m-2">Giỏ hàng</h4>
  </div>

  <div class="row p-2">
      <aside class="col-lg-9">
          <div class="card">

              <div class="table-responsive">
                  <table class="table table-borderless table-shopping-cart">
                      <thead class="text-muted">
                          <tr class="small text-uppercase">
                              <th scope="col">Product</th>
                              <th scope="col" width="120">Quantity</th>
                              <th scope="col" width="120">Price</th>
                              <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of shopping_Cart; index as i">
                              <td class="align-middle">
                                  <div class="itemside align-items-center">
                                      <div class="aside"><img src="{{item.product.avatarUrl}}" class="img-sm"></div>
                                      <div class="info product-name"> <span class="title text-dark">{{item.product.name}}</span>

                                      </div>
                                  </div>
                              </td>
                              <td class="align-middle">
                                <input type="number"
                                min="1" max="{{item.product.quantity}}"
                                value="{{item.quantity}}"
                                (blur)="onChangeQuantity($event, item.quantity, i, item.product.id)"
                                name="quantity">
                              </td>
                              <td class="align-middle">
                                  <div class="price-wrap"> <var class="price">{{item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</var> </div>
                              </td>
                              <td class="text-right align-middle "> <span class="btn btn-light" data-abc="true" (click)="removeProduct(item.product.id)"> <i class="fas fa-trash"></i></span> </td>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </aside>
      <aside class="col-lg-3">
          <div class="card mb-3">
              <div class="card-body">
                  <form>
                      <div class="form-group"> <label>Nhập mã giảm giá:</label>
                          <div class="input-group"> <input type="text" class="form-control coupon" value="{{voucherName}}" (input)="onChangeVoucher($event)" name="voucherName" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon" (click)="applyVoucher()">Apply</button> </span> </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="card">
              <div class="card-body">
                <dl class="dlist-align">
                  <dt>Tổng sản phẩm</dt>
                  <dd class="text-right ml-3">{{totalItem}}</dd>
              </dl>
                  <dl class="dlist-align">
                      <dt>Tổng cộng:</dt>
                      <dd class="text-right ml-3">{{totalPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</dd>
                  </dl>
                  <dl class="dlist-align">
                      <dt>Chiết khấu:</dt>
                      <dd class="text-right text-danger ml-3">
                        {{discount.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}} <p *ngIf="voucherData && voucherData.isPercent === true">(Giảm giá {{voucherData.percentage}}%)</p>
                      </dd>
                  </dl>
                  <dl class="dlist-align">
                      <dt>Tổng Thanh toán:</dt>
                      <dd class="text-right text-dark b ml-3"><strong>{{totalPay.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></dd>
                  </dl>
                  <hr>
                  <button class="add-to-cart btn btn-default"
                  type="button"
                  (click)="checkPaymentCart()"
                  data-toggle="modal" data-target="#modal-lg"
                  >Thanh toán <i class="far fa-credit-card"></i></button>
              </div>
          </div>
      </aside>
  </div>
</div>
<!-- model -->
<div class="modal fade" id="modal-lg" *ngIf="shopping_Cart.length > 0 && showModal == true">
  <div class="modal-dialog modal-xl" style="max-width: 90vw !important; width: 85vw !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hóa đơn thanh toán</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-7" id="bill">
          <h5 class="mb-3">Thông tin Khách hàng:</h5>
          <div class="tab-pane" id="activity">
            <form class="form-horizontal">
              <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">Họ tên</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName"
                  [(ngModel)]="bill.ownerName"
                  required #lastName="ngModel"
                  name="ownerName">
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="lastName.errors?.['required']">
                      Tên không được để trống !!!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName"
                  [(ngModel)]="bill.phone" name="phone"
                  required [pattern]="phoneValidate" #phone="ngModel">
                  <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="phone.errors?.['required']">
                      Số điện thoại không được để trống !!!!
                    </div>

                    <div *ngIf="phone.errors?.['pattern']">
                      Số điện thoại không phù hợp !!!!
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName" [(ngModel)]="bill.phone" name="phone" placeholder="Phone number">
                </div>
              </div> -->
              <!-- <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="phone" placeholder="Name">
                </div>
              </div> -->
              <div class="form-group row">
                <label for="inputName2" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputName2"
                  [(ngModel)]="bill.address" name="address"
                  required #address="ngModel">
                  <div *ngIf="address.invalid && (address.dirty || address.touched)"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="address.errors?.['required']">
                      Địa chỉ không được để trống !!!!
                    </div>
                  </div>
                </div>
              </div>
              <!-- Thông tin sản phẩm -->
              <div class="card-title">
                <h5 class="mb-3">Thông tin sản phẩm:</h5>

              </div>
              <div class="btn-group btn-group-toggle w-100"  data-toggle="buttons">
                <table class="table" width="100%">
                  <thead class="thead-dark">
                    <tr>
                      <th>STT</th>
                      <th>Tên sản phẩm</th>
                      <th>Mã</th>
                      <th>Số lượng</th>
                      <th>Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of shopping_Cart; index as i">
                      <td class="align-middle">{{i + 1}}</td>
                      <td class="align-middle">
                          <figure class="itemside align-items-center">
                              <figcaption class="info product-name"> <a href="#" class="title text-dark" data-abc="true">{{item.product.name}}</a>

                              </figcaption>
                          </figure>
                      </td>
                      <td class="align-middle">{{item.product.code}}</td>
                      <td class="align-middle">
                       {{item.quantity}}
                      </td>
                      <td class="align-middle">
                          <div class="price-wrap"> <var class="price">{{item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</var> </div>
                      </td>
                      <!-- <td class="text-right d-none d-md-block"> <a class="btn btn-light" data-abc="true" (click)="removeProduct(item.product.id)"> <i class="fas fa-trash"></i></a> </td> -->
                  </tr>
                  <tr>
                    <th colspan="4">Tổng tiền hàng: </th>
                    <td><strong>{{totalPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                  </tr>
                  <tr>
                    <th colspan="4">Chiết khấu: </th>
                    <td>{{discount.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                  </tr>
                  <tr>
                    <th colspan="4">Tổng Thanh toán: </th>
                    <td><strong class="text-danger">{{totalPay.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- End thông tin sản phẩm -->

            </form>
          </div>
        </div>
        <div class="col-md-4 imei__container">
          <h5 class="mb-3">Nhập IMEI sản phẩm</h5>
          <small class="text-danger">
            (Lưu ý: Sản phẩm bắt buộc có imei để nhận được bảo hành !!!)*
          </small>
          <div>
            <div *ngFor="let item of shopping_Cart; let idx = index">
              <div >
                <strong>{{idx + 1}}. Sản phẩm {{idx + 1}}:</strong>
                <div class="ml-2">
                  <div class="d-flex align-items-center " >
                    <img src="{{item.product.avatarUrl}}" class="img-imei" alt="">
                    <h6 class="ml-2">{{item.product.name}}</h6>
                  </div>
                  <div>
                    <div class="mt-2" *ngFor="let itemChild of listBillIMEI[idx].imei; let childIdx = index;">
                      IMEI {{childIdx + 1}}:
                      <!-- <input
                        type="text"
                        placeholder="Nhập IMEI"
                        class="form-control"
                        value="{{itemChild.data}}"
                        (blur)="onBlurIMEI(idx, childIdx, $event)"
                        name="key-{{idx}}-{{childIdx}}"
                      > -->
                      <input
                        type="text"
                        placeholder="Nhập IMEI"
                        class="form-control {{(itemChild.isError == true || itemChild?.isNotImei == true) ? 'error-imei': ''}}"
                        value="{{itemChild.data}}"
                        maxlength="15"
                        (blur)="onBlurIMEI(idx, childIdx, $event)"
                        name="key-{{idx}}-{{childIdx}}"
                      >
                      <span class="text-small text-danger" *ngIf="itemChild?.isNotImei == true">{{'Không dúng định dạng Imei'}}</span> <br>
                      <span class="text-small text-danger" *ngIf="itemChild.isError == true">{{'Imei đã tồn tại vui lòng kiểm tra lại'}}</span>
                      <!-- <input type="text" class="form-control" id="firstName"
                        [(ngModel)]="listBillIMEI[idx].imei[childIdx]"
                        #lastName="ngModel"
                        value="{{itemChild}}"
                        (blur)="onBlurIMEI(idx, childIdx, $event)"
                        name="key-[{{idx}}]-[{{childIdx}}]"> -->
                      <!-- [(ngModel)]="listBillIMEI[idx].imei[childIdx]"
                      name="key-[{{idx}}]-[{{childIdx}}]" -->
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onPrint('bill')" ><i class="fas fa-print"></i></button>
        <button type="button" class="btn  add-to-cart" (click)="paymentCart()">Check Out</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- *ngIf="orderSuccess == true" -->
<div class="modal fade show modal-success" *ngIf="orderSuccess == true" style="display: block !important; padding-top: 100px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success d-flex align-items-center justify-content-center ">
        <h4 class="modal-title">Thành công !!!</h4>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <img src="assets/dist/img/icon-cart-success.jpg" style="width: 150px; height: 120px; object-fit: cover;" alt="">
      </div>
      <div class="modal-body">
        <h5 class="mb-3 text-center">
          Tạo đơn hàng thành công <br>
        </h5>
        <p class="text-center">
          Cảm ơn đã được phục vụ quý khách! <br>
        </p>
        <h4 class="text-center">
          Đi đến chi tiết đơn hàng <br>
          <button class="btn btn-info m-2" data-toggle="modal" data-target="#modal-lg-2" (click)="closeModalSuccess()">Chi tiết đơn hàng</button>
        </h4>
      </div>
      <div class="modal-footer ">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Tiếp tục mua hàng</button> -->
        <!-- <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onPrint()" ><i class="fas fa-print"></i> In ảnh báo giá</button> -->
        <button type="button" style="float: right;" class="btn btn-success" (click)="closeModalOrderSuccess()">Đồng ý</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-lg-2" *ngIf="billClone">
  <div class="modal-dialog modal-xl" style="max-width: 90vw !important; width: 85vw !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hóa đơn thanh toán</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-md-7" id="bill-2">
          <h5 class="mb-3">Trạng thái: <strong>Đã thanh toán</strong></h5>
          <h5 class="mb-3">Thông tin Khách hàng:</h5>
          <div class="tab-pane" id="activity">
            <form class="form-horizontal">
              <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">Họ tên</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="firstName"> {{billClone.ownerName}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col-sm-10">

                  <p type="text" class="form-control" id="firstName"> {{billClone.phone}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName2" class="col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="firstName"> {{billClone.address}}</p>
                </div>
              </div>
              <!-- Thông tin sản phẩm -->
              <div class="card-title">
                <h5 class="mb-3">Thông tin sản phẩm:</h5>

              </div>
              <div class="btn-group btn-group-toggle w-100"  data-toggle="buttons">
                <table class="table" width="100%">
                  <thead class="thead-dark">
                    <tr>
                      <th>STT</th>
                      <th>Tên sản phẩm</th>
                      <th>Mã</th>
                      <th>Số lượng</th>
                      <th>Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of shoppingCartClone; index as i">
                      <td class="align-middle">{{i + 1}}</td>
                      <td class="align-middle">
                          <figure class="itemside align-items-center">
                              <figcaption class="info product-name"> <a href="#" class="title text-dark" data-abc="true">{{item.product.name}}</a>

                              </figcaption>
                          </figure>
                      </td>
                      <td class="align-middle">{{item.product.code}}</td>
                      <td class="align-middle">
                       {{item.quantity}}
                      </td>
                      <td class="align-middle">
                          <div class="price-wrap"> <var class="price">{{item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</var> </div>
                      </td>
                      <!-- <td class="text-right d-none d-md-block"> <a class="btn btn-light" data-abc="true" (click)="removeProduct(item.product.id)"> <i class="fas fa-trash"></i></a> </td> -->
                  </tr>
                  <tr>
                    <th colspan="4">Tổng tiền hàng: </th>
                    <td><strong>{{billClone?.totalPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                  </tr>
                  <tr>
                    <th colspan="4">Chiết khấu: </th>
                    <td>{{billClone?.discountPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                  </tr>
                  <tr>
                    <th colspan="4">Tổng Thanh toán: </th>
                    <td><strong class="text-danger">{{(billClone?.totalPrice - billClone?.discountPrice).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- End thông tin sản phẩm -->

            </form>
          </div>
        </div>
        <div class="col-md-4 imei__container">
          <h5 class="mb-3">Nhập IMEI sản phẩm</h5>
          <small class="text-danger">
            (Lưu ý: Sản phẩm bắt buộc có imei để nhận được bảo hành !!!)*
          </small>
          <div>
            <div *ngFor="let item of shoppingCartClone; let idx = index">
              <div >
                <strong>{{idx + 1}}. Sản phẩm {{idx + 1}}:</strong>
                <div class="ml-2">
                  <div class="d-flex align-items-center " >
                    <img src="{{item.product.avatarUrl}}" class="img-imei" alt="">
                    <h6 class="ml-2">{{item.product.name}}</h6>
                  </div>
                  <div>
                    <div class="mt-2" *ngFor="let itemChild of listBillIMEI[idx].imei; let childIdx = index;">
                      IMEI {{childIdx + 1}}:
                      <!-- <input
                        type="text"
                        placeholder="Nhập IMEI"
                        class="form-control"
                        value="{{itemChild.data}}"
                        (blur)="onBlurIMEI(idx, childIdx, $event)"
                        name="key-{{idx}}-{{childIdx}}"
                      > -->
                      <input
                        type="text"
                        placeholder="Nhập IMEI"
                        class="form-control {{(itemChild.isError == true || itemChild?.isNotImei == true) ? 'error-imei': ''}}"
                        value="{{itemChild.data}}"
                        maxlength="15"
                        (blur)="onBlurIMEI(idx, childIdx, $event)"
                        name="key-{{idx}}-{{childIdx}}"
                      >
                      <span class="text-small text-danger" *ngIf="itemChild?.isNotImei == true">{{'Không dúng định dạng Imei'}}</span>
                      <span class="text-small text-danger" *ngIf="itemChild.isError == true">{{'Imei đã tồn tại vui lòng kiểm tra lại'}}</span>
                      <!-- <input type="text" class="form-control" id="firstName"
                        [(ngModel)]="listBillIMEI[idx].imei[childIdx]"
                        #lastName="ngModel"
                        value="{{itemChild}}"
                        (blur)="onBlurIMEI(idx, childIdx, $event)"
                        name="key-[{{idx}}]-[{{childIdx}}]"> -->
                      <!-- [(ngModel)]="listBillIMEI[idx].imei[childIdx]"
                      name="key-[{{idx}}]-[{{childIdx}}]" -->
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModalOrderSuccess()">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onPrint('bill-2')" ><i class="fas fa-print"></i></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
