.content-wrapper{
  padding-top: 90px;
  /* margin-left: 0px !important; */
  margin: 0px 150px !important;
  background: none !important;
  min-height: 60vh;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #eeeeee;
    font-family: 'Open Sans', serif;
    font-size: 14px
}

/* .container-fluid {
    margin-top: 70px
} */

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.40rem
}

.img-sm {
    width: 80px;
    height: 80px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.table-shopping-cart .price-wrap {
    line-height: 1.2
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-muted {
    color: #969696 !important
}

a {
    text-decoration: none !important
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.coupon {
    border-radius: 1px
}

.price {
    font-weight: 600;
    color: #212529
}

.btn.btn-out {
    outline: 1px solid #fff;
    outline-offset: -5px
}

.btn-main {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}
.add-to-cart, .like {
  background: #ff9f1a;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff;
}
.product-image{
  height: 70px;
  width: auto;
  object-fit: cover;
}

.product-cart__quantity{
  width: 70px;
}
.dlist-align{
  border-bottom: 1px solid #d9d9d9 !important;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dlist-align :last-child{
  border-bottom: none;
}
.card{
  box-shadow: none !important;
  border-radius: 10px;
  border: none !important;
}
.btn-go-home{
  border-radius: 5px;
  border: none;
  background:rgb(132, 165, 47);
  color: #fff;
  padding: 8px;
  width: fit-content;
}
.btn-go-home:hover{
  opacity: 0.8;
  transition: 0.7s;
}
.btn-go-shopping{
  background: #15bb6b;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
.btn-go-shopping:hover{
  background: #0d6d3f;
  color: #fff;
}
.modal-success{
  background-color: rgb(0 0 0 / 50%);
}
