
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="content-body pb-3">
      <h4>Giỏ hàng của tôi</h4>
      <div class="">

        <div class="row p-2">
            <aside class="col-lg-9">
                <div class="card" style="width: 100%; height: 100%;">
                    <div class="table-responsive" style="overflow-x: hidden;" *ngIf="shopping_Cart && shopping_Cart.products && shopping_Cart.products.length > 0">
                        <table class="table table-borderless table-shopping-cart" >
                            <thead class="text-black bg-white">
                                <tr class="small text-uppercase">
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" width="120">Đơn giá</th>
                                    <th scope="col" width="120">Số lượng</th>
                                    <th scope="col" width="120">Số tiền</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of shopping_Cart.products; index as index" style="border-bottom: 1px solid  #e0e0e0; padding-left: 10px;">
                                    <td class="align-middle">
                                        <div class="itemside align-items-center">
                                            <div class="aside"><img src="{{item.product.avatarUrl}}" class="img-sm" style="object-fit: cover;"></div>
                                            <div class="info product-name"> <span class="title text-dark">{{item.product.name}}</span>

                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                      {{(item.price / item.quantity).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}
                                    </td>
                                    <td class="align-middle">
                                      <input type="number"
                                      class="product-cart__quantity"
                                      min="1" max="{{item.product.quantity}}"
                                      value="{{item.quantity}}"
                                      (blur)="onChangeQuantity($event, item.product.id, index)"
                                      name="quantity">
                                    </td>
                                    <td class="align-middle">
                                        <div class="price-wrap"> <var class="price">{{item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</var> </div>
                                    </td>
                                    <td class=" align-middle" width="50px"> <span class="btn btn-light" data-abc="true" (click)="removeProduct(item.product.id)"> <i class="fas fa-trash"></i></span> </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div
                    *ngIf="shopping_Cart == undefined || shopping_Cart == null|| !shopping_Cart?.products"
                    class="d-flex align-items-center justify-content-center"
                    style="width: 100%;height: 100%; text-align: center;"
                    >
                      <h4>
                        Hiện chưa có sản phẩm nào trong giỏ hàng
                        <br><br>
                        <a class="small btn-go-home" routerLink="/user/product" >Tiếp tục mua hàng</a>
                      </h4>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group"> <label>Nhập mã giảm giá:</label>
                                <div class="input-group">
                                  <input type="text" class="form-control coupon" value="{{voucherName}}" (input)="onChangeVoucher($event)" name="voucherName" placeholder="Coupon code">
                                  <span class="input-group-append">
                                    <button class="btn btn-primary btn-apply coupon" (click)="applyVoucher()">Áp dụng</button>
                                  </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="card">
                    <div class="">
                      <dl class="dlist-align">
                        <dt>Tổng sản phẩm</dt>
                        <dd class="text-right ml-3">{{ shopping_Cart && shopping_Cart?.total ? shopping_Cart.total : 0}}</dd>
                    </dl>
                        <dl class="dlist-align">
                            <dt>Tạm tính:</dt>
                            <dd class="text-right ml-3">{{totalCart.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Chiết khấu:</dt>
                            <dd class="text-right text-danger ml-3">
                              {{discount.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}} <p *ngIf="voucherData && voucherData.isPercent === true">(Giảm giá {{voucherData.percentage}}%)</p>
                            </dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tổng Thanh toán:</dt>
                            <dd class="text-right text-dark b ml-3"><strong>{{totalPay.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></dd>
                        </dl>

                    </div>
                    <button class="add-to-cart btn btn-default m-2"
                      type="button"
                      (click)="checkPaymentCart()"
                      data-toggle="modal" data-target="#modal-lg"
                      >Thanh toán <i class="far fa-credit-card"></i>
                    </button>
                    <a class="btn-go-shopping btn btn-default m-2" routerLink="/user/product" >Tiếp tục mua hàng</a>
                </div>
            </aside>
        </div>
      </div>
      <!-- model -->
      <div class="modal fade" id="modal-lg" *ngIf=" shopping_Cart && shopping_Cart.products && shopping_Cart.products.length > 0">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Xác nhận thanh toán</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="bill">
              <h5 class="mb-3">Địa chỉ nhận hàng:</h5>
              <div class="tab-pane" id="activity">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">Họ tên</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="firstName"
                      [(ngModel)]="bill.ownerName"
                      required #lastName="ngModel"
                      name="ownerName">
                      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                        class="alert"
                        style="background: rgb(248, 131, 131); border-radius: 0%;"
                        >

                        <div *ngIf="lastName.errors?.['required']">
                          Tên không được để trống !!!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Số điện thoại</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="lastName"
                      value="{{bill.phone}}"
                      [(ngModel)]="bill.phone" name="phone"
                      required [pattern]="phoneValidate" #phone="ngModel">
                      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                        class="alert"
                        style="background: rgb(248, 131, 131); border-radius: 0%;"
                        >

                        <div *ngIf="phone.errors?.['required']">
                          Số điện thoại không được để trống !!!!
                        </div>

                        <div *ngIf="phone.errors?.['pattern']">
                          Số điện thoại không phù hợp !!!!
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="lastName" [(ngModel)]="bill.phone" name="phone" placeholder="Phone number">
                    </div>
                  </div> -->
                  <!-- <div class="form-group row">
                    <label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="phone" placeholder="Name">
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">Địa chỉ</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName2"
                      [(ngModel)]="bill.address" name="address"
                      required #address="ngModel">
                      <div *ngIf="address.invalid && (address.dirty || address.touched)"
                        class="alert"
                        style="background: rgb(248, 131, 131); border-radius: 0%;"
                        >

                        <div *ngIf="address.errors?.['required']">
                          Địa chỉ không được để trống !!!!
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Thông tin sản phẩm -->
                  <div class="card-title">
                    <h5 class="mb-3">Thông tin sản phẩm:</h5>

                  </div>
                  <div class="btn-group btn-group-toggle w-100"  data-toggle="buttons">
                    <table class="table" width="100%">
                      <thead class="thead-dark">
                        <tr>
                          <th>STT</th>
                          <th>Tên sản phẩm</th>
                          <th>Mã</th>
                          <th>Số lượng</th>
                          <th>Thành tiền</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of shopping_Cart.products; index as i">
                          <td class="align-middle">{{i + 1}}</td>
                          <td class="align-middle">
                              <figure class="itemside align-items-center">
                                  <figcaption class="info product-name"> <a href="#" class="title text-dark" data-abc="true">{{item.product.name}}</a>

                                  </figcaption>
                              </figure>
                          </td>
                          <td class="align-middle">{{item.product.code}}</td>
                          <td class="align-middle">
                           {{item.quantity}}
                          </td>
                          <td class="align-middle">
                              <div class="price-wrap"> <var class="price">{{item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</var> </div>
                          </td>
                          <!-- <td class="text-right d-none d-md-block"> <a class="btn btn-light" data-abc="true" (click)="removeProduct(item.product.id)"> <i class="fas fa-trash"></i></a> </td> -->
                      </tr>
                      <tr>
                        <th colspan="4">Tổng tiền hàng: </th>
                        <td><strong>{{totalCart.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                      </tr>
                      <tr>
                        <th colspan="4">Chiết khấu: </th>
                        <td>{{discount.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                      </tr>
                      <tr>
                        <th colspan="4">Tổng Thanh toán: </th>
                        <td><strong class="text-danger">{{totalPay.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- End thông tin sản phẩm -->

                </form>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Tiếp tục mua hàng</button>
              <!-- <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onPrint()" ><i class="fas fa-print"></i> In ảnh báo giá</button> -->
              <button type="button" class="btn  add-to-cart" (click)="paymentCart()" data-dismiss="modal">Đặt hàng</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <div class="modal fade show modal-success" *ngIf="orderSuccess == true" style="display: block !important; padding-top: 100px;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-success d-flex align-items-center justify-content-center ">
              <h4 class="modal-title">CẢM ƠN !!!</h4>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img src="assets/dist/img/icon-cart-success.jpg" style="width: 150px; height: 120px; object-fit: cover;" alt="">
            </div>
            <div class="modal-body">
              <h5 class="mb-3 text-center">
                Bạn đã đặt hàng thành công!!! <br>
              </h5>
              <p class="text-center">
                Cảm ơn đã được phục vụ quý khách! <br>
                Vui lòng chờ điện thoại, chúng tôi sẽ liên hệ với quý khách sớm nhất có thể để tư vấn hình thức cọc sản phẩm và vận chuyển đơn hàng cho quý khách sớm nhất. <br>
                <strong>Số liên hệ: 0320.3456.7777</strong>
              </p>
            </div>
            <div class="modal-footer ">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Tiếp tục mua hàng</button> -->
              <!-- <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onPrint()" ><i class="fas fa-print"></i> In ảnh báo giá</button> -->
              <button type="button" style="float: right;" class="btn btn-success" (click)="closeModalOrderSuccess()">Đồng ý</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>




