<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Quản lý Voucher</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button class="btn mb-1 btn-success mr-2" routerLink="/admin/voucher/create">Tạo Voucher</button>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Tên</th>
                  <th>Mã giảm giá</th>
                  <th>Hình thức giảm</th>
                  <th>Giảm giá</th>
                  <th>Ngày bắt đầu</th>
                  <th>Ngày Kết thúc</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of voucherList; index as i">
                  <td>{{i + 1}}</td>
                  <td>{{item.name}}</td>
                  <th>{{item.key}}</th>
                  <td>
                    <div *ngIf="item.isPercent == true">
                      <span class="badge badge-danger px-2">Giảm giá %</span>
                    </div>
                    <div *ngIf="item.isPercent == false">
                      <span class="badge badge-danger px-2">Giảm giá VND</span>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="item.isPercent == true">
                      <span class="badge badge-success px-2">{{item.percentage}} %</span>
                    </div>
                    <div *ngIf="item.isPercent == false">
                      <span class="badge badge-success px-2">{{item.discountPrice}} VND</span>
                    </div>
                  </td>
                  <td>{{item.startDate | date:"dd/MM/yyyy"}}</td>
                  <!-- <td>{{category.sortName}}</td> -->
                  <td>{{item.endDate | date:"dd/MM/yyyy"}}</td>
                  <td>
                    <button class="btn mb-1 btn-warning mr-2" routerLink="/admin/voucher/edit/{{item.id}}">Edit</button>
                    <button class="btn mb-1 btn-danger" (click)="onDelete(item.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Tên</th>
                  <th>Mã giảm giá</th>
                  <th>Hình thức giảm</th>
                  <th>Giảm giá</th>
                  <th>Ngày bắt đầu</th>
                  <th>Ngày Kết thúc</th>
                  <th>Thao tác</th>
                </tr>
              </tfoot>
            </table>
            <br>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->


      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>

