<div class="content-wrapper">
  <div class="container-fluid">
    <div class="content-body">
      <div class="row card">
        <div class="col-12 m-b-30 ">
          <div class="d-flex justify-content-between mt-3 ">
            <div class="card-header">
              <h4 class="d-inline ">Danh sách nhập hàng của tháng</h4>
            </div>
          </div>
          <div class="card row m-3 p-3">
            <div class="p-3 col-md-5">
              <label class="p-2" for="month">Chọn tháng</label>
              <select (change)="getImportPrByMonth(valueMonth)" class="col-12 form-control" name="" [(ngModel)]="valueMonth" id="month">
                <option value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
              </select>
              <label class="p-2" for="year">Năm</label>
              <select (change)="getImportPrByMonth(valueMonth)" class="col-12 form-control" name="" [(ngModel)]="year" id="year">
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
            </div>
            <div class="p-3 col-md-4">
              <h6>Tổng giá trị nhập kho: <span class="text-bold text-info" style="font-size: 22px;">{{totalValue.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</span> </h6>
            </div>

            <div class="p-3">
              <button class="btn btn-info" (click)="exportexcel()">Export Excel</button>
            </div>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>ID</th> -->
                  <th>Ảnh</th>
                  <th>Tên</th>
                  <th>Code</th>
                  <th>Số lượng nhập</th>
                  <th>Tổng Giá nhập</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of importList; index as i">
                  <td>{{i + 1}}</td>
                  <!-- <td><p class="font-weight-bold text-primary">{{item.id}}</p></td> -->
                  <td>
                    <img class="img-fluid card-img-top product-image" src="{{item.avatarUrl}}" alt="Card image cap">

                  </td>
                  <td><a routerLink="/admin/product/details/{{item.productId}}" title="Xem chi tiết" class="text-primary">{{item.name}}</a> <br>

                    <small>Ngày tạo lập: {{item.createdDate | date:'medium'}}</small> <br>
                    <small>Nguời tạo lập: <strong>{{item.fistName + " " + item.lastName}}</strong></small> <br>
                    <!-- <a routerLink="details/{{item.id}}" class="btn mr-2 shadow text-primary" title="View"><i class="far fa-eye"></i></a> -->
                  </td>
                  <td><p class="font-weight-bold text-info">{{item.code}}</p></td>
                  <td>{{item.importQuantity}}</td>
                  <td>{{item.importTotal.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>ID</th> -->
                  <th>Ảnh</th>
                  <th>Tên</th>
                  <th>Code</th>
                  <th>Số lượng nhập</th>
                  <th>Tổng Giá nhập</th>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
        <!-- Pagination -->
        <div class="col-lg-12">
          <table id="table-hidden" class="table table-bordered table-striped d-none">
            <thead>
              <tr>
                <th style="width: 10px">STT</th>
                <!-- <th>ID</th> -->
                <th>Tên</th>
                <th>Code</th>
                <th>Số lượng nhập</th>
                <th>Tổng Giá nhập</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of importList; index as i">
                <td>{{i + 1}}</td>
                <td><a routerLink="/admin/product/details/{{item.productId}}" title="Xem chi tiết" class="text-primary">{{item.name}}</a> <br>
                </td>
                <td><p class="font-weight-bold text-info">{{item.code}}</p></td>
                <td>{{item.importQuantity}}</td>
                <td>{{item.importTotal.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                <td>{{item.fistName + " " + item.lastName}}</td>
                <td>{{item.createdDate | date:'medium'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>


