<div class="content-wrapper">
  <div class="container-fluid">
    <div class="is-loading" *ngIf="isLoading === true">
      <div class="loader"></div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Sửa sản phẩm</h3><br>
              <a (click)="back()" class="btn btn-outline-success mt-2">Back</a>
              <p></p>
              <div class="mt-5">
                <h6>Hướng đẫn upload:</h6>
                <small class="text-small">
                  - Tên sản phẩm: dài hơn 4 ký tự <br>
                  - Mô tả sản phẩm có thể gồm ảnh và video <br>
                  - Ảnh đại diện là hình ảnh chính được hiển thị cho sản phẩm ở trang chủ; <br>
                  - Ảnh sản phẩm là ảnh mô tả chi tiết cho sản phẩm  <br>
                  - Sản phẩm bắt buộc phải gồm giá nhập, giá bán, thể loại và hãng <br>
                  - Không bắt buộc có đặc điểm <br>
                </small>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9">

          <!-- general form elements -->
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Sửa sản phẩm</h3>
            </div>

            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body" id="bg-crete-pr">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tên sản phẩm</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="name" [(ngModel)]="product.name"
                  placeholder="Nhập tên sản phẩm..." required minlength="4" #name="ngModel">
                  <div *ngIf="name.invalid"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="name.errors?.['required']">
                      Tên không được để trống !!!
                    </div>

                    <div *ngIf="name.errors?.['minlength']">
                      Tên phải dài hơn 4 ký tự !!!
                    </div>
                  </div>
                </div>
                <!-- editor -->

                  <label for="textareaInput">Mô tả sản phẩm</label>
                  <div class="col-md-12">
                    <div class="card card-outline">
                      <div class="card-header bg-primary">

                        <!-- tools box -->
                        <div class="card-tools ">
                          <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                  title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        </div>
                        <!-- /. tools -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body pad">
                        <ckeditor
                          #editor
                          [(ngModel)]="product.description"
                          id="description"
                          name="description"
                          type="divarea">
                        </ckeditor>
                        <div class="mb-3">
                          <textarea class="textarea inline-editor" name="description" id="textareaInput"
                          [(ngModel)]="product.description"
                                    style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd;">
                                  <!-- <p>{{product.description}}</p> -->
                              <!-- <div [innerHTML]="product.description"></div> -->
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.col-->

                <!-- end-editor -->
                <div class="form-group">
                  <label for="category">Thể loại</label>
                      <select class="form-control select2bs4" id="category" name="categoryId" [(ngModel)]="product.categoryId" style="width: 100%;" required>
                        <option value="0" disabled>Chọn</option>
                        <option *ngFor="let cat of categoryList" value="{{cat.id}}" >{{cat.name}}</option>
                      </select>
                </div>
                <div class="form-group">
                  <label for="production">Hãng</label>
                  <select class="form-control select2bs4" id="production" name="productionId" [(ngModel)]="product.productionId" style="width: 100%;" required>
                    <option [value]="0" disabled>Chọn</option>
                    <option class="option-value" *ngFor="let production of productionList" value="{{production.id}}">{{production.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Giá nhập</label>
                  <input type="text" class="form-control" [(ngModel)]="product.importPrice" name="importPrice" id="exampleInputPassword1"
                   placeholder="Giá..." required [pattern]="numberValidate" #importPrice="ngModel" >
                   <div *ngIf="importPrice.invalid && (importPrice.dirty || importPrice.touched)"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="importPrice.errors?.['required']">
                      Giá nhập không được để trống !!!!
                    </div>

                    <div *ngIf="importPrice.errors?.['pattern']">
                      Giá nhập phải là số !!!!
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Giá bán</label>
                  <input type="text" class="form-control" [(ngModel)]="product.salePrice" name="salePrice" id="exampleInputPassword1"
                   placeholder="Giá..." required [pattern]="numberValidate" #salePrice="ngModel" >
                   <div *ngIf="salePrice.invalid && (salePrice.dirty || salePrice.touched)"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="salePrice.errors?.['required']">
                      Giá bán không được để trống !!!!
                    </div>

                    <div *ngIf="salePrice.errors?.['pattern']">
                      Giá bán phải là số !!!!
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Số lượng</label>
                  <input type="text" class="form-control" [(ngModel)]="product.quantity" name="quantity"
                   id="exampleInputPassword1" placeholder="Số lượng..." required [pattern]="numberValidate" #quantity="ngModel">
                   <div *ngIf="quantity.invalid"
                   class="alert"
                   style="background: rgb(248, 131, 131); border-radius: 0%;"
                   >

                   <div *ngIf="quantity.errors?.['required']">
                     Số lượng không được để trống !!!!
                   </div>

                   <div *ngIf="quantity.errors?.['pattern']">
                     Số lượng phải là số !!!!
                   </div>
                 </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Bảo hành(Tháng)</label>
                  <input type="text" class="form-control" [(ngModel)]="product.warranty" name="warranty"
                   id="exampleInputPassword1" placeholder="Bảo hành..." required [pattern]="numberValidate" #warranty="ngModel">
                   <div *ngIf="warranty.invalid && (warranty.dirty || warranty.touched)"
                    class="alert"
                    style="background: rgb(248, 131, 131); border-radius: 0%;"
                    >

                    <div *ngIf="warranty.errors?.['required']">
                      Bảo hành không được để trống !!!!
                    </div>

                    <div *ngIf="warranty.errors?.['pattern']">
                      Bảo hành phải là số !!!!
                    </div>
                  </div>
                </div>
                <!-- asda -->
                <div class="form-group" *ngIf="avtUrl== true">
                  <label for="exampleInputPassword1">URL Ảnh đại diện</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="avatarUrl" [(ngModel)]="product.avatarUrl"
                  placeholder="Avatar..." required #avatar="ngModel" >
                  <div *ngIf="avatar.invalid"
                   class="alert"
                   style="background: rgb(248, 131, 131); border-radius: 0%;"
                   >

                   <div *ngIf="avatar.errors?.['required']">
                     Avatar lượng không được để trống !!!!
                   </div>
                 </div>
                 <div class="card border shadow">
                  Xem Trước:
                  <img class="img-fluid card-img-top product-image" src="{{product.avatarUrl}}" alt="">
                 </div>
                 <button class="btn btn-warning mb-3" (click)="setNewAvatarOpen()">Tạo một ảnh mới</button>
                </div>
                <!-- Set new Avatar -->
                <div class="form-group" *ngIf="avtUrl== false">
                  <label for="exampleInputFile">Ảnh đại diện</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile" (change)="selectFile($event)">
                      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>

                  </div>
                  <div class="card border shadow d-flex justify-content-center align-items-center" *ngIf="fileNamePreView">
                    <p>Preview</p>
                    <img class="img-fluid card-img-top product-image" src="{{fileNamePreView}}"/>
                  </div>
                  <button class="btn btn-warning mb-3" (click)="setNewAvatarClose()">Hủy</button>
                </div>
                <!-- Ảnh mô tả sản phẩm -->
                <div class="form-group">
                  <label for="exampleInputPassword1">Ảnh chi tiết sản phẩm</label>
                  <div *ngFor="let item of listImg, let i =index">
                    <input type="text" class="form-control" id="exampleInputPassword1" name="avatarUrl{{i}}" [(ngModel)]="item.imageUrl"
                  placeholder="Avatar..." required #avatar="ngModel" >
                  <div class="card border shadow">
                    Xem Trước:
                    <img class="img-fluid card-img-top product-image-2" src="{{item.imageUrl}}" alt="">
                    <a class="btn shadow text-danger" (click)="deleteImageInformation(item.id)" ><i class="fas fa-eraser"></i></a>

                   </div>
                  </div>
                  <br>
                  <button class="btn btn-outline-warning mb-3" (click)="uploadNewImage()">{{buttonName}}</button>
                  <!-- More image -->

                  <div class="form-group" *ngIf="setOpenUploadFormToMoreImage == true">
                    <label for="exampleInputFile">Chọn ảnh</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile" multiple (change)="onFileChange($event)">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>

                    </div>
                    <div class="card border shadow d-flex justify-content-center align-items-center" *ngIf="imgNamePreview.length > 0">
                      <p>Preview</p>
                      <div class="d-flex">
                        <img *ngFor='let url of imgNamePreview'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
                      </div>

                    </div>
                  </div>
                </div>


                <div class="form-group shadow pt-2 pb-3 pl-2">
                  <label for="exampleInputPassword1">Đặc điểm</label>
                  <div class="aliases">
                    <div *ngFor="let alias of aliases; let i=index">
                      <!-- The repeated alias template -->
                      <label for="alias-{{ i }}">Đặc tính {{ i+1 }}:</label>
                      <div class="row">
                        <div class="col-md-4">
                          Tên: <input type="text" class="form-control" name="key{{i}}" [(ngModel)]="alias.key" required #key="ngModel">
                          <div *ngIf="key.invalid"
                            class="alert"
                            style="background: rgb(248, 131, 131); border-radius: 0%;"
                            >

                            <div *ngIf="key.errors?.['required']">
                              Không được để trống !!!!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          Chi tiết: <input  type="text" class="form-control" name="value{{i}}" [(ngModel)]="alias.value" required #value="ngModel">
                          <div *ngIf="value.invalid"
                            class="alert"
                            style="background: rgb(248, 131, 131); border-radius: 0%;"
                            >

                            <div *ngIf="value.errors?.['required']">
                              Không được để trống !!!!
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <i class="fas fa-times" title="Xóa đặc điểm" (click)="deleteAlias(i)"></i>
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-outline-success shadow mt-4" (click)="addAlias()" type="button">+ Thêm đặc điểm</button>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" id="">Upload</span>
                    </div>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary toastsDefaultInfo" (click)="onSubmit()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


