

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Sửa thể loại</h3><br>
                  <a routerLink="/admin/category" class="btn btn-success mt-2">Back</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8">
            <div class="card">

                <div class="card-body">
                    <h3 class="card-title">Sửa Thể loại</h3> <br/>
                    <!-- <form action="#" class="form-profile" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <input type="text" class="form-control input-default" formControlName='name' placeholder="Tên thể loại">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-default" formControlName='title' placeholder="Tiêu đề">
                        </div>

                        <div class="d-flex align-items-center">

                            <button class="btn btn-primary px-3">Submit</button>
                        </div>
                    </form> -->
                    <form class="form-profile shadow">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Id</label>
                          <input type="text" class="form-control" value="{{category.id}}"  disabled>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Tên thể loại</label>
                          <input type="text" class="form-control" name='name' [(ngModel)]="category.name" placeholder="Tên thể loại...">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Tag</label>
                          <input type="text" class="form-control"  value="{{category.sortName}}" disabled>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Ngày khởi tạo</label>
                          <input type="text" class="form-control" value="{{category.createdDate | date: 'medium'}}" disabled>
                        </div>
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success" *ngIf="category.status === 'ENABLE'">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="status" (change)="toggleEditable($event)" checked >
                            <label class="custom-control-label" for="customSwitch3">Trạng thái hoạt động</label>
                          </div>
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success" *ngIf="category.status === 'DISABLE'">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="status" (change)="toggleEditable($event)" >
                            <label class="custom-control-label" for="customSwitch3">Trạng thái hoạt động</label>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-body -->

                      <div class="card-footer">
                        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
                      </div>
                    </form>
                </div>


            </div>

            <div class="card">
            </div>
        </div>
    </div>
  </div>
</div>

