.imei__container{
  margin-left: 60px;
  padding-left: 30px;
  border-left: 1px solid #e5e5e5;
}
.img-imei{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.error-imei{
  border-color: #be1717;
}
.btn-reviced{
  width: 170px;
  height: 35px;
  margin: auto;
  border-radius: 3px;
  background: rgb(42, 195, 141);
  color: white;
  border: none;
  margin-top: 10px;
}
