<div class="content-wrapper">
  <div class="container-fluid">
    <div class="content-body">
      <div class="row card">
        <div class="col-12 m-b-30 ">
          <div class="d-flex justify-content-between mt-3 ">
            <div class="card-header">
              <h4 class="d-inline ">Product List</h4>
            </div>

            <div class="">
              <br>
              <button class="btn btn-primary mr-5" routerLink="/admin/product/create">Thêm sản phẩm</button>
            </div>
          </div>
          <!-- Tim kiem -->
          <div class="row m-3">
            <div class="card col-sm-12 p-0 collapsed-card">
              <div class="card-header bg-black">
                <h3 class="card-title"><strong>Bộ lọc tìm kiếm</strong></h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputEmail" class="">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="inputEmail" name="code" [(ngModel)]="productName" placeholder="Nhập Tên sản phẩm">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputEmail" class="">Mã sản phẩm</label>
                        <input type="text" class="form-control" id="inputEmail" name="code" [(ngModel)]="productCode" placeholder="Nhập Mã sản phẩm">
                      </div>
                    </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="category">Thể loại</label>
                              <select class=" select2bs4" id="category" name="categoryId" [(ngModel)]="categoryId" style="width: 100%;" required>
                                <option value="0" >Chọn</option>
                                <option *ngFor="let cat of categoryList" value="{{cat.id}}" >{{cat.name}}</option>
                              </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="production">Hãng</label>
                          <select class=" select2bs4" id="production" name="productionId" [(ngModel)]="productionId" style="width: 100%;" >
                            <option [value]="0" >Chọn</option>
                            <option class="option-value" *ngFor="let production of productionList" value="{{production.id}}">{{production.name}}</option>
                          </select>
                        </div>
                      </div>


                      <div class="row w-100 d-flex align-items-center justify-content-center ">
                        <div class="">
                          <button type="button" class="btn btn-primary" (click)="onSearch()">
                            <i class="fas fa-search"> </i>Tìm kiếm
                          </button>
                          &nbsp;
                          <button type="button" class="btn btn-danger" *ngIf="checkSearch===true" (click)="onAbortSearch()" >
                            <i class="fas fa-ban"></i> Hủy
                          </button>
                        </div>
                      </div>
                  </div>
                </div>

            </div>
          </div>


          <!-- end tim kiem -->
          <div class="card row m-3 p-3">
            <!-- <div class="row">
                <div class="col-md-6 col-lg-3" *ngFor="let item of productList">
                    <div class="card border shadow">
                        <img class="img-fluid card-img-top product-image" src="{{item.avatarUrl}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title product-name">{{item.name}}</h5> <br>
                            <h6 class="card-title text-primary">
                              {{item.salePrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}

                            </h6> <br>
                            <h6 class="my-3">Mã sản phẩm: {{item.code}}</h6>
                            <p class="card-text"><small class="text-muted">Last updated {{item.modifiedDate | date :'medium'}}</small>
                            </p>
                            <p class="card-text d-flex justify-content-center">
                              <a routerLink="details/{{item.id}}" class="btn mb-1 btn-primary mr-2">View</a>
                              <a routerLink="edit/{{item.id}}" class="btn mb-1 btn-warning mr-2 text-white " >Edit</a>
                              <a class="btn mb-1 btn-danger text-white " (click)="delete(item.id)">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
              </div> -->
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>ID</th> -->
                  <th>Image</th>
                  <th>Tên</th>
                  <th>Code</th>
                  <th>Trạng thái</th>
                  <th>Thể loại</th>
                  <th>Hãng</th>
                  <th>Giá nhập</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of productList; index as i">
                  <td>{{i + 1}}</td>
                  <!-- <td><p class="font-weight-bold text-primary">{{item.id}}</p></td> -->
                  <td>
                    <img class="img-fluid card-img-top product-image" src="{{item.avatarUrl}}" alt="Card image cap">

                  </td>
                  <td><a routerLink="details/{{item.id}}" title="Xem chi tiết" class="text-primary">{{item.name}}</a>
                    <div>
                      <div class="d-flex sale" *ngIf="productList[i].saleEntity && productList[i].id == countDown[i].idPr">
                        <div class="sale-percent btn">SALE {{productList[i].saleEntity.sale}}% in
                         <span class="countdown">{{countDown[i].days}}</span>:<span class="countdown">{{countDown[i].hours}}</span>:<span class="countdown">{{countDown[i].minutes}}</span>:<span class="countdown">{{countDown[i].seconds}}</span>
                        </div>

                      </div>
                    </div>
                    <small>Ngày tạo lập: {{item.createdDate | date:'medium'}}</small> <br>
                    <a routerLink="details/{{item.id}}" class="btn mr-2 shadow text-primary" title="View"><i class="far fa-eye"></i></a>
                    <a routerLink="edit/{{item.id}}" class="btn mr-2 shadow text-warning" title="Sửa sản phẩm"><i class="fas fa-pen"></i></a>
                    <a routerLink="/admin/sale/create/{{item.id}}" class="btn mr-2 shadow text-success" title="Tạo sale"><i class="fas fa-tag"></i></a>
                    <a class="btn shadow text-danger" *ngIf="item.status == 'ACTIVE'" title="Vô hiệu hóa sản phẩm" (click)="updateStatus(item)" ><i class="fas fa-ban"></i></a>
                    <a class="btn shadow text-success" *ngIf="item.status == 'INACTIVE'" title="Kích hoạt sản phẩm" (click)="updateStatus(item)" ><i class="fas fa-check"></i></a>
                  </td>
                  <td><p class="font-weight-bold text-info">{{item.code}}</p></td>
                  <td>
                    <div class="custom-control " *ngIf="item.status == 'ACTIVE'">
                        <span class="badge badge-success px-2">Active</span>
                    </div>
                    <div class="custom-control " *ngIf="item.status == 'INACTIVE'">
                        <span class="badge badge-danger px-2">Inactive</span>
                    </div>
                    <div class="custom-control " *ngIf="item.status == 'EMPTY'">
                      <span class="badge badge-danger px-2">Hết Hàng</span>
                  </div>
                    <!-- <div class="form-group">
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success" >
                        <input type="checkbox" class="custom-control-input" id="customSwitch3" name="status"  checked >
                        <label class="custom-control-label" for="customSwitch3">ON</label>
                      </div>
                      <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success" >
                        <input type="checkbox" class="custom-control-input" id="customSwitch3" name="status"  >
                        <label class="custom-control-label" for="customSwitch3">OFF</label>
                      </div>
                    </div> -->
                  </td>
                  <td>{{item.category}}</td>
                  <td>{{item.production}}</td>
                  <!-- <td>{{category.sortName}}</td> -->
                  <td>{{item.importPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                  <td>{{item.salePrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                  <td>{{item.quantity}}</td>

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>ID</th> -->
                  <th>Image</th>
                  <th>Tên</th>
                  <th>Code</th>
                  <th>Trạng thái</th>
                  <th>Thể loại</th>
                  <th>Hãng</th>
                  <th>Giá nhập</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
        <!-- Pagination -->
        <div class="col-lg-12">
          <!-- <div class="card-body">
              <div class="bootstrap-pagination">
                  <nav>
                      <ul class="pagination justify-content-center">
                          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">Next</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div> -->
    </div>
      </div>

    </div>
  </div>
</div>


