<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Quản lý Sale</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button class="btn mb-1 btn-success mr-2" routerLink="/admin/category/create">Thêm Sale</button>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>ID</th>
                  <th>Tên thể loại</th>
                  <th>Trạng thái</th>
                  <th>TAG</th>
                  <th>Số lượng sản phẩm</th>
                  <th>Ngày tạo lập</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Id</th>
                  <th>Tên thể loại</th>
                  <th>Trạng thái</th>
                  <th>TAG</th>
                  <th>Số lượng sản phẩm</th>
                  <th>Ngày tạo lập</th>
                  <th>Thao tác</th>
                </tr>
              </tfoot>
            </table>
            <br>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->


      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>

