<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Quản lý Sale</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Image</th>
                  <th>Tên</th>
                  <th>Sale</th>
                  <th>Ngày bắt đầu</th>
                  <th>Ngày kết thúc</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of saleList; index as i">
                  <th>{{i + 1}}</th>
                  <td><img class="img-fluid card-img-top product-image" src="{{item.avatarUrl}}" alt="Card image cap"></td>
                  <td><p class="text-primary">{{item.productName}}</p>
                    <small>Ngày tạo lập: {{item.createdDate | date:'medium'}} <br>
                          Tạo bởi: <strong>{{item.fistName + ' ' +item.lastName}}</strong>
                    </small>
                    <!-- <a routerLink="details/{{item.id}}" class="btn mr-2 shadow text-primary"><i class="far fa-eye"></i></a>
                    <a routerLink="edit/{{item.id}}" class="btn mr-2 shadow text-warning"><i class="fas fa-pen"></i></a>
                    <a class="btn shadow text-danger" (click)="delete(item.id)" ><i class="fas fa-eraser"></i></a> -->
                  </td>
                  <th>{{item.sale}}%</th>
                  <td>{{formatDate(item.startDate)}}</td>
                  <td>{{formatDate(item.endDate)}}</td>
                  <td>
                    <a class="btn shadow text-danger" (click)="onDeleteSale(item.id)"><i class="fas fa-eraser"></i></a>
                    <a routerLink="/admin/sale/create/{{item.productId}}" class="btn mr-2 shadow text-warning"><i class="fas fa-pen"></i></a>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Image</th>
                  <th>Tên</th>
                  <th>Sale</th>
                  <th>Ngày bắt đầu</th>
                  <th>Ngày kết thúc</th>
                  <th>Thao tác</th>
                </tr>
              </tfoot>
            </table>
            <br>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->


      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>

