
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="content-body pb-3">
      <div class="row product-table shadow">
        <div class="col-12 m-b-30 m-t-30 cate-head">
          <h3 class="pb-3 pt-3"> Kết quả tìm kiếm cho: "{{textSearch}}" | <small style="font-size: 16px;">(Tổng {{productList.length}} sản phẩm)</small> </h3>
        </div>
        <div class="col-12 m-b-30">

          <div class="row">
            <div class="col-3 filter">
              <!-- <h5>Lọc: </h5> -->
              <!-- <input type="text" [(ngModel)]="searchFilter" name="" class="input-search-filter" placeholder="Nhập tên sản phẩm" id=""> -->
              <!-- <h6 class="filter-title" style="cursor: pointer;">LỌC SẢN PHẨM</h6> -->
              <!-- <h6 *ngIf="isFilter == true" class="filter-title" style="cursor: pointer;" (click)="cancelFilterProduct()">HỦY LỌC</h6> -->
              <h5 class="pt-3">Sắp xếp theo: </h5>
              <select class="custom-select" [(ngModel)]="sortBy">
                <option value="">===Không===</option>
                <option value="DATE|DESC">Mới nhất</option>
                <option value="DATE|ASC">Cũ nhất</option>
                <option value="SALEPRICE|ASC">Giá thấp đến cao</option>
                <option value="SALEPRICE|DESC">Giá cao đến thấp</option>
              </select>
              <h5 class="pt-3">Khoảng giá: </h5>
              <div class="price-range">
                Từ: <input type="text" class="price-from" [(ngModel)]="priceFrom">
                Đến: <input type="text" class="price-to" [(ngModel)]="priceTo">
              </div>
              <h6 class="filter-title mt-3" style="cursor: pointer;" (click)="filterProduct()">LỌC SẢN PHẨM</h6>
              <div class="pt-2">
                <h5>Hãng sản xuất:</h5>
                <span *ngFor="let item of production; index as i" class="text-bold">
                  <p *ngIf="item?.childProduct?.length > 0" style="cursor: pointer;"
                    (click)="setProductByProduction(i)"
                  >
                    >> {{item.name}} ({{item?.childProduct?.length}})
                  </p>
                </span>
                <div *ngIf="isFilter == true">
                  <p>Kết quả tìm kiếm cho: {{productionChosed ? productionChosed : searchFilter}} </p>
                  <h6 *ngIf="isFilter == true" class="filter-title" style="cursor: pointer;" (click)="cancelFilterProduct()">HỦY LỌC</h6>
                </div>
              </div>
            </div>
            <div class="col-9 product-shop">
              <div class="row">
                <div class="d-flex align-items-center justify-content-center" style="width: 100%;" *ngIf="productList?.length == 0">
                  <h2>Không có sản phẩm nào !!!!</h2>
                </div>
                <div
                  class="col-md-6 col-lg-3"
                  *ngFor="let item of productList | paginate : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  }; index as i"
                >
                  <div class="card border shadow">
                      <img class="img-fluid card-img-top product-image" src="{{item.avatarUrl}}" alt="Card image cap">
                      <div class="card-body mb-0">
                          <h5 class="card-title product-name"><a class="name" routerLink="/user/product/details/{{item.id}}" data-toggle="modal" data-target="#modal-xl">
                            {{item.name}}
                          </a></h5> <br>
                          <h6 class=" mt-3">
                            Mã sản phẩm: {{item.code}} <br> <br>
                            <strong *ngIf="item.quantity > 0" class="text-success"><i class="fas fa-check"></i> Còn hàng</strong>
                            <strong *ngIf="item.quantity == 0" class="text-danger"><i class="fas fa-check"></i> Hết hàng</strong>
                          </h6>

                      </div>
                      <div class="bg-dark py-2 px-3 price m-0">
                        <div >
                          <h5 class="mb-0" *ngIf="item.saleEntity === null || item.saleEntity === 0 || item.saleEntity === undefined">
                            {{item.salePrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}

                          </h5>
                          <div *ngIf="item.saleEntity">
                            <h5 class="mb-0" >
                              {{(item.salePrice - item.salePrice * item.saleEntity.sale / 100).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}

                            </h5>
                            <h5 class="mt-0">
                              <small>Ex Tax: <del>{{(item.salePrice).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</del> </small>
                            </h5>
                          </div>

                        </div>
                      </div>
                      <div class="mt-5">
                        <p class="card-text d-flex justify-content-center">
                          <a class="btn mb-1 btn-success btn-add-card text-white mr-2 mt-2" (click)="addShoppingCart(item.id)">Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i></a>
                        </p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="d-flex align-center justify-content-center" *ngIf="productList?.length != 0">
                  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize($event)">
                  </pagination-controls>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




