

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Tra cứu Bảo hành</h3><br>
                  <!-- <a routerLink="/admin/voucher" class="btn btn-success mt-2">Back</a> -->
                  <p><code>Nhập số điện thoại hoặc IMEI để tìm kiếm</code></p>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" value="{{textSearch}}" (input)="onBlurSearch($event)" name="phone">
                  <span class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat" (click)="searchWarranty(textSearch)">{{textBtn}}</button>
                  </span>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Thông tin bảo hành</h3> <br>
              </div>
                <div class="card-body">
                    <div *ngIf="isShowData == true">
                      <div class="" *ngIf="listWarranty && isPhone == true">
                        <!-- <button class="btn btn-success" style="float: right;">Thêm dữ liệu bảo hành</button> -->
                        <div class=" p-3 " *ngIf="listWarranty.length == 0 ">
                          <h6 class="my-5">Không có dữ liệu bảo hành</h6>
                        </div>
                        <div *ngIf="listWarranty.length > 0 ">
                          <h5>Các thiết bị từng bảo hành</h5>
                          <div>
                            <div class="card" *ngFor="let item of listWarranty; index as idx">
                              <div class="d-flex align-items-center "
                              style="cursor: pointer;" data-toggle="modal" data-target="#modal-lg"
                              (click)="setDataWarranty(idx)"
                              >
                                <div class="cart-product-image">
                                  <img src="{{item.product.avatarUrl}}" alt="">
                                </div>
                                <a class="cart-product-name" style="cursor: pointer;">
                                  {{item.product.name}} <br>
                                  <strong class="cart-product-name" style="cursor: pointer;">
                                    IMEI: {{item.imei}}
                                  </strong>
                                </a>

                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="" *ngIf="listBill && isPhone == false">
                        <div class=" p-3 " *ngIf="listBill.length == 0 ">
                          <h6 class="my-5">IMEI không tồn tại, Vui lòng thử lại !!!</h6>
                        </div>
                        <div class=" px-3 " *ngIf="listBill && listBill.length > 0 ">
                          <h6 class="my-3">Thông tin sản phẩm và đơn hàng</h6>
                          <div *ngIf="product" >
                            <div class="d-flex align-items-center"
                            style="cursor: pointer;" data-toggle="modal" data-target="#modal-lg"
                              (click)="getDataWarrantyByImei(listBill[0].phone,product[0].imei)"
                            >
                              <div class="cart-product-image">
                                <img src="{{product[0].productAvatar}}" alt="">
                              </div>
                              <a class="cart-product-name">
                                {{product[0].productName}}
                              </a>
                            </div>
                            <div class="pt-3 position-relative">
                              <div class="position-absolute" style="right: 60px;top: 50px;">
                                <div *ngIf="testWarranty == true" class="apply-warranty d-flex align-items-center position-relative mr-5">
                                  <i class="fas fa-check text-success position-absolute" style="bottom: 110px; right: 76px; font-size: 40px;"></i>
                                  <small class="position-absolute text-center text-success text-bold" style="bottom: 37px; right: 1px; font-size: 21px;">Chấp nhận bảo hành</small>
                                </div>
                                <div *ngIf="testWarranty == false" style="border-color: red ;" class="apply-warranty d-flex align-items-center position-relative mr-5">
                                  <i class="fas fa-times text-danger position-absolute" style="bottom: 110px; right: 81px; font-size: 40px;"></i>
                                  <small class="position-absolute text-center text-danger text-bold" style="bottom: 59px; right: 9px; font-size: 21px;">Không chấp nhận</small>
                                </div>
                              </div>
                              <p>IMEI sản phẩm: <strong>{{product[0].imei}}</strong> </p>
                              <p>Mã đơn hàng: <strong>{{listBill[0].code}}</strong> </p>
                              <p>Tên khách hàng: <strong>{{listBill[0].ownerName}}</strong></p>
                              <p>Số điện thoại: <strong>{{listBill[0].phone}}</strong></p>
                              <p>Địa chỉ: <strong>{{listBill[0].address}}</strong></p>
                              <p>Thời gian mua: <strong>{{listBill[0].createdDate | date: 'dd/MM/yyyy'}}</strong>  </p>
                              <p>Thời gian hết hạn bảo hành: <strong>{{product[0].warrantyEndDate | date: 'dd/MM/yyyy'}}</strong>  </p>
                              <div *ngIf="testWarranty == true">
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-default">Thêm lịch sử bảo hành</button>
                              </div>
                              <div *ngIf="testWarranty == true && owner" class="modal fade" id="modal-default">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Thông tin bảo hành</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="" style="width: 100%;">
                                        <label class="col-5" for="">IMEI sản phẩm:</label>
                                        <input class="col-7" type="text" value="{{owner.imei}}" disabled> <br>
                                        <label class="col-5" for="">Tên khách hàng:</label>
                                        <input class="col-7" type="text" value="{{owner.userName}}" disabled> <br>
                                        <label class="col-5" for="">Số điện thoại:</label>
                                        <input class="col-7"  type="text" value="{{owner.userPhone}}" disabled> <br>
                                        <label class="col-5" for="">Địa chi:</label>
                                        <input class="col-7"  type="text" value="{{owner.userAddress}}" disabled> <br>
                                        <label class="col-5" for="">Hình thức:</label>
                                        <select [(ngModel)]="owner.status">
                                          <option value="" selected disabled>Chọn</option>
                                          <option value="INPROGRESS">Khách mang đến</option>
                                          <option value="RESOLVED">Đã xử lý</option>
                                        </select> <br>
                                        <label class="col-12" for="">Trạng thái sản phẩm:</label>
                                        <textarea class="col-12" type="text" [(ngModel)]="owner.productCondition"></textarea> <br>
                                      </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                      <button type="button" class="btn btn-default" data-dismiss="modal" >Hủy</button>
                                      <button type="button" class="btn btn-info" data-dismiss="modal" (click)="creatWarranty()">Chấp nhận</button>
                                    </div>
                                  </div>
                                  <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>


            </div>



        </div>
        <div class="col-lg-12" >
          <div class="modal fade" id="modal-lg" *ngIf="bill">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Hóa đơn thanh toán</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="bill">
                  <div class="d-flex justify-content-between">
                    <strong>Số hóa đơn: {{bill.code}}</strong> <br>
                    <small>Nhân viên bán hàng: {{bill.createBy.fistName +' ' + bill.createBy.lastName}}</small>

                  </div>
                  <br>
                  <h5 class="mb-3">Thông tin Khách hàng:</h5>
                  <div class="tab-pane" id="activity">
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="firstName" class="col-sm-2 col-form-label">Họ tên</label>
                        <div class="col-sm-10">
                          <p type="text" class="form-control" id="firstName"> {{bill.ownerName}}</p>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lastName" class="col-sm-2 col-form-label">Số điện thoại</label>
                        <div class="col-sm-10">

                          <p type="text" class="form-control" id="firstName"> {{bill.phone}}</p>
                        </div>
                      </div>
                      <!-- <div class="form-group row">
                        <label for="lastName" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="lastName" [(ngModel)]="bill.phone" name="phone" placeholder="Phone number">
                        </div>
                      </div> -->
                      <!-- <div class="form-group row">
                        <label for="phone" class="col-sm-2 col-form-label">Số điện thoại</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="phone" placeholder="Name">
                        </div>
                      </div> -->
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Địa chỉ</label>
                        <div class="col-sm-10">
                          <!-- <input type="text" class="form-control" id="inputName2"
                          value="{{bill.address}}" name="address"
                          disabled> -->
                          <p type="text" class="form-control" id="firstName"> {{bill.address}}</p>
                        </div>
                      </div>
                      <!-- Thông tin sản phẩm -->
                      <div class="card-title">
                        <h5 class="mb-3">Thông tin sản phẩm:</h5>

                      </div>
                      <div class="btn-group btn-group-toggle w-100"  data-toggle="buttons">
                        <table class="table" width="100%">
                          <thead class="thead-dark">
                            <tr>
                              <th>STT</th>
                              <th>Tên sản phẩm</th>
                              <th>Mã</th>
                              <th>SL</th>
                              <th>Thời gian bảo hành</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of bill.billDetail; index as i">
                              <td>{{i + 1}}</td>
                              <td>
                                  <figure class="itemside align-items-center">
                                      <figcaption class="info product-name"> <a href="#" class="title text-dark" data-abc="true">{{item.productName}}</a>

                                      </figcaption>
                                  </figure>
                              </td>
                              <td>{{item.productCode}}</td>
                              <td>
                               {{item.quantity}}
                              </td>
                              <td>
                                  <div class="price-wrap" *ngIf="item.warrantyEndDate"> <var class="price">{{item.warrantyEndDate | date : "dd/MM/yyyy"}}</var> </div>
                                  <div class="price-wrap" *ngIf="item.warrantyEndDate === null"> <var class="price">Không có bảo hành</var> </div>
                              </td>
                              <!-- <td class="text-right d-none d-md-block"> <a class="btn btn-light" data-abc="true" (click)="removeProduct(item.product.id)"> <i class="fas fa-trash"></i></a> </td> -->
                          </tr>
                          <!-- <tr>
                            <th colspan="4">Tổng tiền hàng: </th>
                            <td><strong>{{bill.totalPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                          </tr>
                          <tr>
                            <th colspan="4">Chiết khấu: </th>
                            <td>{{bill.discountPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</td>
                          </tr>
                          <tr>
                            <th colspan="4">Tổng Thanh toán: </th>
                            <td><strong class="text-danger">{{(bill.totalPrice - bill.discountPrice).toLocaleString('it-IT', {style : 'currency', currency : 'VND'})}}</strong></td>
                          </tr> -->
                          </tbody>
                        </table>
                      </div>
                      <!-- End thông tin sản phẩm -->

                    </form>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
                  <!-- <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onPrint()" ><i class="fas fa-print"></i></button> -->
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <div class="modal fade" id="modal-lg" *ngIf="dataWarrantyHistory">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Lịch sử bảo hành</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="timeline">
                            <div class="">
                              <div class="d-flex align-items-center "
                              >
                                <div class="cart-product-image">
                                  <img src="{{dataWarrantyHistory.product.avatarUrl}}" alt="">
                                </div>
                                <a class="cart-product-name" style="cursor: pointer;">
                                  {{dataWarrantyHistory.product.name}} <br>
                                  <strong class="cart-product-name" style="cursor: pointer;">
                                    IMEI: {{dataWarrantyHistory.imei}}
                                  </strong>
                                </a>

                              </div>
                            </div>
                              <div class="time-label">
                                <span class="bg-info">Lịch sử bảo hành</span>
                              </div>
                              <div *ngFor="let item of dataWarrantyHistory.data; index as i">
                                <i class="fa bg-warning" *ngIf="item.status == 'INPROGRESS'"></i>
                                <i class="fa bg-success" *ngIf="item.status == 'RESOLVED'"></i>
                                <div class="timeline-item">
                                  <span class="time text-bold"><i class="fas fa-clock"></i> {{item.createdDate | date: 'dd/MM/yyyy'}}</span>
                                  <h3 class="timeline-header">
                                    <span class="badge badge-warning p-2" *ngIf="item.status == 'INPROGRESS'">Khách hàng mang tới bảo hành</span>
                                    <span class="badge badge-success p-2" *ngIf="item.status == 'RESOLVED'">Đã trả lại khách</span>
                                  </h3>

                                  <!-- <h3 class="timeline-header">{{item.status == 'INPROGRESS' ? 'Khách hàng mang tới bảo hành' : 'Đã trả lại khách'}}</h3> -->
                                  <div class="timeline-body position-relative">
                                    <label class="col-4" for="productCondition">Tình trạng thiết bị:</label>
                                    <div *ngIf="item.isEdit == undefined || item.isEdit == false">
                                      <span class="col-8">{{item.productCondition}} </span><br>
                                      <!-- <a class="position-absolute" style="top: 10px; right: 10px; cursor: pointer;" (click)="onEditProductCondition(i)"><i class="fas fa-pen text-warning"></i></a> -->
                                    </div>

                                    <div *ngIf="item.isEdit == true">
                                      <a class="position-absolute" style="top: 10px; right: 10px; cursor: pointer;" (click)="onAbortEditProductCondition(i)"><i class="fas fa-times text-danger"></i></a>
                                      <textarea name="" value="{{item.productCondition}}" (input)="onInputEditCondition($event)" id="productCondition" class="col-12" rows="2" ></textarea>
                                      <button class="btn-edit-condition" (click)="onSubmitEditProductCondition(item.id, i)">Xác nhận</button>
                                    </div>

                                  </div>
                                </div>
                              </div>


                            <!-- END timeline item -->
                            <div>
                              <i class="fas fa-clock bg-gray"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </section>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- <div class="card-body">
              <div class="bootstrap-pagination">
                  <nav>
                      <ul class="pagination justify-content-center">
                          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">Next</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div> -->
        </div>
    </div>
  </div>
</div>

