<!-- <footer class="main-footer fixed-bottom ">
  <div class="float-right d-none d-sm-inline">
    Anything you want
  </div>
  <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer> -->

<div class="footer-user">
  <p>© 2021 Shop đồ công nghệ Nhị Quân Store</p>

  <p>Địa chỉ: Số 129 + 131, phố Lê Thanh Nghị, Phường Đồng Tâm, Quận Hai Bà Trưng, Hà Nội</p>

  <p>GPĐKKD số 010116xxxx do Sở KHĐT Tp.Hà Nội cấp ngày 31/8/2022</p>

  <p>Email: info@nhiquan.vn. Điện thoại: 1900 xxxx</p>

  <img src="assets/dist/img/logo.png" alt="AdminLTE Logo" class="logo-footer brand-image img-circle elevation-3"
           style="opacity: .8">
</div>
