

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Thêm Hãng</h3><br>
                  <a routerLink="/admin/production" class="btn btn-success mt-2">Back</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-8">
            <div class="card">

                <div class="card-body">
                    <h3 class="card-title">Thông tin Hãng</h3> <br>
                    <!-- <form action="#" class="form-profile" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                          <input type="text" class="form-control input-default" formControlName='name' placeholder="Tên thể loại">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-default" formControlName='title' placeholder="Tiêu đề">
                        </div>

                        <div class="d-flex align-items-center">

                            <button class="btn btn-primary px-3">Submit</button>
                        </div>
                    </form> -->
                    <form action="#" class="form-profile shadow" [formGroup]="productionForm" (ngSubmit)="onSubmit()">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Tên Hãng</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" formControlName='name' placeholder="Tên hãng...">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Company</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" formControlName='company' placeholder="Company...">
                        </div>
                      </div>
                      <!-- /.card-body -->

                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                </div>


            </div>

            <div class="card">
            </div>
        </div>
    </div>
  </div>
</div>

