/* .notification__title{

} */
.notification__body{
  padding-left: 20px;
  font-size: 13px;
  margin-bottom: 5px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.notification--unread{
  background-color: rgb(228, 228, 228);
}
.creat-date{
  bottom: -5px;
  right: 0px;
}
.unread-box{
  background-color: rgb(85, 142, 228);
  right: 20px;
  width: 10px;
  height: 10px;
  top: 20px;
  border-radius: 50%;
}
.dropdown-divider{
  border-top: 1px solid #878787 !important;
}
.dropdown-menu{
  max-height: 500px;
  overflow: hidden auto;
}
.dropdown-item{
  cursor: pointer;
}
