.container{
  max-width: 1600px !important;
}

.input-search{
  width: 500px !important;
}
.navbar-collapse{
  justify-content: space-between;
  padding: 0 50px;
}
.logo-header{
  width: 50px;
  height: auto;
  object-fit: cover;
}
.fa-shopping-cart{
  color: #fff !important;
}
.main-header{
  position: fixed;
  width: 100vw;
}
.dropdown-menu-category{
  left: 14px;
  width: 300px;
}
.dropdown-menu-category > li:hover{
  background: rgb(67, 67, 67) !important;
}
.image{
  display: flex;
}
.image img{
  width: 25px;
  height: 25px;
  margin-right: 7px;
}
.cart-product{
  display: flex;
  align-items: center;
}
.cart-product-image img{
  width: 50px;
  height: 50px;
  object-fit: cover;

}
.cart-product-image{
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
.search-result{
  background: #fff;
  top: 35px;
}
.cart-product{
  margin: 5px;
  border-bottom: 1px solid rgb(183, 183, 183);
}
.cart-product-name{
  font-size: 12px;
  color: #000;

}

/* .notification__title{

} */
.notification__body{
  padding-left: 20px;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .notification--unread{
  background-color: #878787;
} */
.creat-date{
  bottom: 0px;
  right: 0px;
}
.unread-box{
  background-color: rgb(85, 142, 228);
  right: 20px;
  width: 10px;
  height: 10px;
  top: 20px;
  border-radius: 50%;
}
.dropdown-divider{
  border-top: 1px solid #878787 !important;
}
.dropdown-menu{
  max-height: 500px;
  overflow: auto;
  background: #454d55;
  color: rgb(231, 236, 211);
}
.dropdown-item{
  cursor: pointer;
  color: white;
}
.dropdown-item:hover{
  background: #63707c !important;
}
.search-result {
  background: #454d55;
}






