.container{
  max-width: 1600px !important;
}

.input-search{
  width: 500px !important;
}
.navbar-collapse{
  justify-content: space-between;
  padding: 0 50px;
}
.logo-header{
  width: 50px;
  height: auto;
  object-fit: cover;
}
.fa-shopping-cart{
  color: #fff !important;
}
.main-header{
  position: fixed;
  width: 100vw;
}
.dropdown-menu-category{
  left: 14px;
  width: 300px;
}
.dropdown-menu-category > li:hover{
  background: rgb(67, 67, 67) !important;
}


