<nav class="main-header navbar navbar-expand-md navbar-dark navbar-dark m-0">
  <div class="container">
    <a routerLink="/user" class="navbar-brand">
      <img src="assets/dist/img/logo.png" alt="AdminLTE Logo" class="logo-header brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">NHỊ QUÂN Store</span>
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/user/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user/" class="nav-link">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a id="dropdownSubMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Danh mục sản phẩm</a>
          <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu dropdown-menu-category border-0 shadow">
            <li *ngFor="let item of category"><a href='/user/cate/{{item.id}}' class="dropdown-item"> {{item.name}} </a></li>
          </ul>
        </li>
      </ul>

      <!-- SEARCH FORM -->
      <form class="form-inline ml-0 ml-md-3">
        <div class="input-group input-group-sm input-search position-relative">
          <input class="form-control form-control-navbar" autocomplete="off" type="search" [(ngModel)]="textSearch" name="search-header" (input)="searchProduct()" placeholder="Tìm kiếm sản phẩm" aria-label="Search">
          <div class="input-group-append">
            <a class="btn btn-navbar" href="/user/product/search?search={{textSearch}}">
              <i class="fas fa-search"></i>
            </a>
          </div>
          <div class="search-result position-absolute">
            <div *ngFor="let item of productList">
              <div class="cart-product">
                <div class="cart-product-image d-flex align-items-center justify-content-center">
                  <img src="{{item.avatarUrl}}" alt="">
                </div>
                <a class="cart-product-name" style="cursor: pointer;" href="/user/product/details/{{item.id}}">
                  {{item.name}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <div class="image">
            <img src="{{userAvt ? userAvt : 'assets/dist/img/avatar-default.jpg'}}" class="img-circle elevation-2" alt="User Image">
            {{name}}
          </div>

        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a routerLink="/user/profile" class="dropdown-item">
            Thông tin cá nhân
          </a>
          <div class="dropdown-divider"></div>
          <a routerLink="/user/cart" class="dropdown-item">
            Giỏ hàng của tôi
          </a>
          <div class="dropdown-divider"></div>
          <a routerLink="/user/cart" class="dropdown-item">
            Đơn hàng của tôi
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer" (click)="logoutUser()" >Log out</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <!-- <i class="fas fa-th-large"></i> -->
          <i class="fas fa-shopping-cart"></i>
          <span class="badge badge-danger navbar-badge">{{cartDetail ? cartDetail?.total : ''}}</span>
          <!-- <i class="fa-solid fa-cart-minus"></i> -->
        </a>
      </li>
    </ul>
  </div>
</nav>
