<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Quản lý thể loại</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button class="btn mb-1 btn-success mr-2" routerLink="/admin/category/create">Thêm Thể loại</button>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>ID</th> -->
                  <th>Tên thể loại</th>
                  <th>Trạng thái</th>
                  <th>TAG</th>
                  <th>Số lượng sản phẩm</th>
                  <th>Ngày tạo lập</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categoryList; index as i">
                  <td>{{i + 1}}</td>
                  <!-- <td>{{category.id}}</td> -->
                  <td>{{category.name}}</td>
                  <td>
                    <div *ngIf="category.status == 'ACTIVE'">
                      <span class="badge badge-primary px-2">Active</span>
                    </div>
                    <div *ngIf="category.status == 'INACTIVE'">
                      <span class="badge badge-danger px-2">Inactive</span>
                    </div>
                  </td>
                  <td>{{category.sortName}}</td>
                  <!-- <td>{{category.sortName}}</td> -->
                  <td *ngIf=" category.countProd && category.countProd > 0">{{category.countProd}}</td>
                  <td *ngIf="category.countProd === 0">Chưa có sản phẩm</td>
                  <td>{{category.createdDate | date:'medium'}}</td>
                  <td>
                    <!-- <button class="btn mb-1 btn-warning mr-2" routerLink="/admin/category/edit/{{category.id}}">Edit</button>
                    <button class="btn mb-1 btn-danger" (click)="delete(category.id)">Delete</button> -->
                    <a routerLink="/admin/category/edit/{{category.id}}" class="btn mr-2 shadow text-warning"><i class="fas fa-pen"></i></a>
                    <!-- <a class="btn shadow text-danger" (click)="delete(category.id)" ><i class="fas fa-eraser"></i></a> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th style="width: 10px">#</th>
                  <!-- <th>Id</th> -->
                  <th>Tên thể loại</th>
                  <th>Trạng thái</th>
                  <th>TAG</th>
                  <th>Số lượng sản phẩm</th>
                  <th>Ngày tạo lập</th>
                  <th>Thao tác</th>
                </tr>
              </tfoot>
            </table>
            <br>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->


      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>

